<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="your.package.path.MountainLikeMapper">
    <select id="existsByMemberIdAndMountainId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM mountain_likes
            WHERE member_id = #{memberId}
            AND mountain_id = #{mountainId}
        ) as exists_flag
    </select>
</mapper>